.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  margin-top: -50px;
  font-size: 40px;
  font-weight: 1000;
}

.bio {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.voteButton {
  cursor: pointer;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

#message {
  width: -webkit-fill-available;
}

.messageInput {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.voteList {
  color: black;
  border: 0;
  border-radius: 5px;
}